{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign product_quantity = current_variant.inventory_quantity %}

<!-- inventoryAvailability variable used for add to cart button class -->
{% if current_variant.available %}
{% assign inventoryAvailability = 'available' %}
{% else %}
{% assign inventoryAvailability = 'unavailable' %}
{% endif %}

<!-- addToCartButtonText variable used for add to cart button class -->
{% if product_quantity < 5 %}
{% assign addToCartButtonText = 'Low stock' %}
{% else %}
{% assign addToCartButtonText = 'Add to cart' %}
{% endif %}

<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">

{% for image in product.images %}
<a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
</a>
{% endfor %}

<h1>{{ product.title }}</h1>

<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
    <select name="id" id="productSelect">
        {% for variant in product.variants %}
        {% if variant.available %}
        <option value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
        {% else %}
        <option disabled="disabled">
            {{ variant.title }} - sold out
        </option>
        {% endif %}
        {% endfor %}
    </select>
    {{ current_variant.price | money }}
    <label for="Quantity">quantity</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1">

    <!-- the button below has an inline onclick event handler that calls the addToCart function found in application.js and prevents the default browser behavior; dynamic class based on item availability -->
    <button type="submit" name="add" id="AddToCart" class="inventory-{{ inventoryAvailability }}"
        onclick="addToCart('AddToCartForm'); return false">
        <!-- This button's text is dynamic based on product quantity -->
        {{ addToCartButtonText }}
    </button>
</form>

<div>{{ product.description }}</div>

<!-- Product Page Modal -->
<div id="product-page-modal" class="modal" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Product quantity displayed in modal. Also, this h5's grammar is dynamic based on product quantity -->
                <h5 class="modal-title">There {{ product_quantity | pluralize: 'is', 'are' }} currently
                    {{ product_quantity }} {{ product_quantity | pluralize: 'item', 'items' }} in stock.</h5>
                <button id="product-page-modal-header-button" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button id="product-page-modal-close-button" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>